.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  gap: 3em;
  flex-direction: column;
  width: 30em;
  color: #124143;
  background-color: white;
  border-radius: 0.75em;
  box-shadow: 0 5px 2em #124143;
  padding: 2em;
  padding-bottom: 6em;
  align-items: center;
  overflow: hidden;
  animation: 1s ease-out 0s 1 slideInFromLeft;
  margin: 0.5rem;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.description {
  font-size: 1rem;
  font-weight: 600;
  opacity: 0.8;
  text-align: center;
  width: 80%;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.instruction {
  font-size: 1.25rem;
  font-weight: 600;
  display: flex;
  text-align: center;
}

.inputField {
  height: 2.5em;
  border: 0.2em solid #124143;
  border-radius: 0.5em;
  background-color: #c0f7b7;
  width: 100%;
  font-size: 1.25em;
  font-weight: 600;
  opacity: 80%;
  text-align: center;
  outline: none;
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.displayNone {
  display: none;
}

.button {
  height: 2.5em;
  width: 6em;
  text-align: center;
  opacity: 80%;
  border: none;
  border-radius: 0.5em;
  color: #124143;
  background-color: #5ac994;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  user-select: none;
  transition: 200ms ease-in-out;
}

.button:hover:enabled {
  background-color: #124143;
  color: #5ac994;
}

.confirmButton {
  margin-left: auto;
}

.buttonContainer {
  display: flex;
  align-items: center;
  width: 100%;
}

.signUpLink {
  font-size: 0.8rem;
  justify-content: start;
}

.link {
  color: #5ac994;
  font-weight: 600;
  cursor: pointer;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.invalid {
  text-align: center;
  color: rgb(233, 20, 20);
}

.demoSignIn {
  margin-left: auto;
  border: none;
  cursor: pointer;
}
