.profileMenu {
  position: fixed;
  right: 0;
  top: 4em;
  width: 14rem;
  height: 20rem;
  pointer-events: auto;
  border-radius: 1em;
  padding: 1em;
  transition: transform 300ms ease-in-out;
  z-index: 999;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 400px) {
  .profileMenu {
    width: 100vw;
    height: 100vh;
  }
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .profileMenu {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
  }
}
