.topbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: white;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  height: 4rem;
  width: 100%;
  top: 0;
  position: fixed;
}
.logobox {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbarbutton {
  background-color: white;
  border: 0;
  cursor: pointer;
}

.navbarbutton:hover {
  color: #199607;
}
.logo {
  margin-left: 10px;
}

.searchbox {
  justify-content: space-between;
  align-items: center;
  display: flex;
  max-width: 30rem;
  flex-grow: 2;
  margin: 0 1em 0 1em;
}

.searchbar {
  display: flex;
  height: 40px;
  padding-left: 8px;
  font-size: medium;
  outline: none;
  width: 100%;
}

.searchbar::placeholder {
  font-weight: 600;
  opacity: 50%;
}

.searchbar:focus {
  border: 1px solid #199607;
}

.searchbutton {
  background-color: rgb(240, 240, 240);
  border-top: 1px solid rgb(200, 200, 200);
  border-right: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
  border-left: 0;
  width: 70px;
  height: 40px;
  display: block;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.searchbutton:hover {
  background-color: rgb(230, 230, 230);
  color: #199607;
}

.others {
  display: flex;
  gap: 0px 1em;
}

.othersItem {
  display: flex;
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  background-color: white;
  border: none;
  text-align: center;
}

.othersItem:hover {
  color: #199607;
}

.profileButton {
  justify-content: center;
}
