.topbar {
  display: flex;
  justify-content: space-between;
  border: none;
  box-shadow: 0px 5px 1em #124143;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  height: 4rem;
  width: 100vw;
  top: 0.5em;
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.7);
  color: #124143;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .topbar {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.division1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 100%;
}
.division2 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
}
.division3 {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
}

.logobox {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbarbutton {
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

.navbarbutton:hover {
  color: #5ac994;
}
.logo {
  margin-left: 10px;
}

.websiteName {
  font-size: 2rem;
  font-weight: 600;
  margin-left: 1rem;
}

.searchbox {
  justify-content: space-between;
  align-items: center;
  display: flex;
  max-width: 30rem;
  flex-grow: 2;
  margin: 0 1em 0 1em;
}

.searchbar {
  display: flex;
  height: 40px;
  padding-left: 8px;
  font-size: medium;
  border: 0.2rem solid #124143;
  width: 100%;
  border-radius: 1rem 0 0 1rem;
}

.searchbar::placeholder {
  font-weight: 600;
  opacity: 50%;
}

.searchbar:focus {
  outline: none;
}

.searchbutton {
  border-top: 0.2rem solid #124143;
  border-right: 0.2rem solid #124143;
  border-bottom: 0.2rem solid #124143;
  border-left: 0;
  border-radius: 0 1rem 1rem 0;
  color: #124143;
  background-color: #5ac994;
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.searchbutton:hover {
  background-color: #124143;
  color: #5ac994;
}

.others {
  display: flex;
  gap: 0px 1em;
  margin-right: 1em;
}

.othersItem {
  display: flex;
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  border: none;
  text-align: center;
}

.othersItem:hover {
  color: #5ac994;
}

.profileButton {
  justify-content: center;
}

@media screen and (max-width: 400px) {
  .websiteName {
    display: none;
  }
  .topbar {
    padding-left: 0.5rem;
  }
  .logo {
    margin: 0;
  }
}
