.topbar {
  justify-content: space-between;
  align-items: center;
  display: flex;
  background-color: white;
  border-bottom: 1px solid rgb(200, 200, 200);
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  height: 60px;
  width: auto;
  top: 0;
  position: -webkit-sticky;
  position: relative;
}
.logobox {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navbarbutton {
  background-color: white;
  border: 0;
  cursor: pointer;
}

.navbarbutton:hover {
  color: #199607;
}
.logo {
  margin-left: 10px;
}

.searchbox {
  justify-content: space-between;
  align-items: center;
  display: flex;
  max-width: 30rem;
  flex-grow: 2;
}

.searchbar {
  display: flex;
  height: 40px;
  padding-left: 8px;
  font-size: medium;
  outline: none;
  width: 100%;
}

.searchbar::placeholder {
  font-weight: 600;
  opacity: 50%;
}

.searchbar:focus {
  border: 1px solid #199607;
}

.searchbutton {
  background-color: rgb(240, 240, 240);
  border-top: 1px solid rgb(200, 200, 200);
  border-right: 1px solid rgb(200, 200, 200);
  border-bottom: 1px solid rgb(200, 200, 200);
  border-left: 0;
  width: 70px;
  height: 40px;
  display: block;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.searchbutton:hover {
  background-color: rgb(230, 230, 230);
  color: #199607;
}

.others {
  display: flex;
  gap: 0px 10px;
}

.othersItem {
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  background-color: white;
  border: none;
}

.othersItem:hover {
  color: #199607;
}

.profileButton {
  justify-content: center;
}

.profileMenu {
  position: fixed;
  right: 0;
  transform: translate(1rem, -50%) scale(0%);
  width: 14rem;
  height: 28rem;
  pointer-events: auto;
  border: 0.1rem solid rgb(25, 150, 7);
  transition: all 300ms ease-in-out;
  z-index: 999;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(188, 231, 182, 0.6);
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .profileMenu {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(188, 231, 182, 0.6);
  }
}

.profileButtonActive + .profileMenu {
  transform: translate(0, 3rem) scale(100%);
}
